<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Mi Proyecto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Características</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Precios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deshabilitado</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h2>Lista de Tareas</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        <div class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let tarea of listaTareas; let i = index">
          {{ tarea }}
          <button class="btn btn-danger btn-sm" (click)="eliminarTarea(i)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-10">
      <input type="text" class="form-control" placeholder="Nueva tarea" [(ngModel)]="nuevaTarea">
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary btn-block" (click)="agregarTarea()">Añadir</button>
    </div>
  </div>
</div>

<footer>
  <div class="bg-light text-center text-lg-start mt-4">
    <div class="container p-4">
      <div class="text-center p-3">
        © <span id="year">{{ currentYear }}</span> Mi Proyecto
      </div>
    </div>
  </div>
</footer>
